#loginBox {
  width: 250px;
  padding: 11em;
}

#register a {
 font-size: 20px;
 color: #000000;
}

#conta {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../images/mycatsHome.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  margin: 0 auto;
}

.content {
  margin-top:   10px;
  margin-bottom: 10px;
  margin-left:  100px;
  margin-right: 100px;
}

.form {
  display: block;
  margin: .5em 0 0 0;
  padding: .2em;
}

.listImage {
  position: relative;
}

.listText {
  position: relative;
  padding: 2em;
  width: 44%;
  height: 478px;
  float: left;
  font-size: 18px;
  background-color: #F0F0F0;

}

.navigation {
  clear: left;
  padding-bottom: 0.5em;
}
