{% extends '::frontend.html.twig' %}

{% block article %}
  <div class="content">
    <h2>Privacidad</h2>
    Esta web ha sido creada solo y exclusivamente con fines formativos.</br>
    Los datos que introduzcas seran utilizados para testear el correcto funcionamiento de la misma.</br>
    Una vez introducidos los datos de una mascota no podrán ser eliminados.</br>
  </div>
{% endblock %}


