{% extends '::frontend.html.twig' %}

{% block title %}Privacy{% endblock %}

{% block article %}
  <div class="content">
    <h2>Privacy</h2>
    This website has been created solely and exclusively for training purposes.</br>
    The details you enter will be used to test the proper operation thereof.</br>
    Once a pet data entered may not be eliminated.</br>
  </div>
{% endblock %}

