/htdocs/web/bundles/
/htdocs/app/bootstrap.php.cache
/htdocs/app/cache/*
/htdocs/app/config/parameters.yml
/htdocs/app/logs/*
!htdocs/app/cache/.gitkeep
!htdocs/app/logs/.gitkeep
/htdocs/app/phpunit.xml
/htdocs/src/AppBundle/Resources/public/images
/htdocs/build/
/htdocs/vendor
/htdocs/bin/
/htdocs/composer.phar
/htdocs/composer.lock
/htdocs/web/bundles/app/images/
/htdocs/web/media/cache/

