/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/src/AppBundle/Resources/public/images
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/src/web/bundles/app/images
/web/media/cache/