{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('bundles/app/css/normalice.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/app/css/layout.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
  <header>
    <h1><a href="#">mycats</a></h1>
    <nav>
      <ul>
        <li><a id="language_esp" href="#"><img src="{{ asset('bundles/app/images/esp.png') }}"></a></li> 
        <li><a id="language_eng" href="#"><img src="{{ asset('bundles/app/images/eng.png') }}"></a></li>
        <li><a href="#">Mi perfil</a></li>
      </ul>
    </nav>
  </header>

<article>
  {% block article %}{% endblock %}
</article>

{% endblock %}
