body {
  background: none repeat scroll 0 0 #e6e2df;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}


header {
  color: black;
  background: none repeat scroll 0 0 #003399;
  position: relative;
  height: 60px;

}

header h1 {
  color: #FFFFFF;
  position: absolute;
  left: 25px;
  margin-top: 8px;
  }

nav ul {
  list-style: none;
  position: absolute;
  left: 200px;
  right: 20px;
}

nav ul li {
  float: right;
  margin: 0;
  padding-right: 2.5em;
}

nav ul li a {
  color: #FFF !important;
  font-size: 18px;
}

#language_esp {
  background: url("images/photo1.jpg") no-repeat scroll center transparent;
}

#language_eng {
  
}

footer {
  clear: both;
  color: #FFFFFF;
  font-size: 13px;
  padding: 1em;
  background: none repeat scroll 0 0 #003399;
  position: relative;
}

a         { color: #FFFFFF; text-decoration: none; outline: none; }
a:visited { color: #FFFFFF; }
a:hover   { color: #C06 !important; }
a:active  { position: relative; top: 1px; }

#container {
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 0 1px 5px #444;
  margin: 0 auto 1em;
  width: 80%;
}

.navigation a {
 color: #00005C; text-decoration: none; outline: none;
 font-size: 20px;
}
